In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/data/kaggle/tabular-playground-series-jan-2022/train.csv")

In [5]:
df.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [6]:
df_test = pd.read_csv("/data/kaggle/tabular-playground-series-jan-2022/test.csv")

In [7]:
df_test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

In [9]:
df.columns

Index(['row_id', 'date', 'country', 'store', 'product', 'num_sold'], dtype='object')

In [11]:
df.dtypes

row_id       int64
date        object
country     object
store       object
product     object
num_sold     int64
dtype: object

In [16]:
df["date_dt"] = pd.to_datetime(df["date"], format="%Y-%m-%d")

In [17]:
df.head()

,row_id,date,country,store,product,num_sold,date_dt
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015-01-01
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015-01-01
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015-01-01
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015-01-01
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015-01-01

In [49]:
df["date_dt"].unique()

array(['2015-01-01T00:00:00.000000000', '2015-01-02T00:00:00.000000000',
       '2015-01-03T00:00:00.000000000', ...,
       '2018-12-29T00:00:00.000000000', '2018-12-30T00:00:00.000000000',
       '2018-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [19]:
df["product"].unique()

array(['Kaggle Mug', 'Kaggle Hat', 'Kaggle Sticker'], dtype=object)

In [20]:
df["store"].unique()

array(['KaggleMart', 'KaggleRama'], dtype=object)

In [21]:
df["country"].unique()

array(['Finland', 'Norway', 'Sweden'], dtype=object)

In [22]:
####################

In [38]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [23]:
df.columns

Index(['row_id', 'date', 'country', 'store', 'product', 'num_sold', 'date_dt'], dtype='object')

In [24]:
df["country"] = df["country"].astype("category")
df["store"] = df["store"].astype("category")
df["product"] = df["product"].astype("category")

In [45]:
df_category = df[["country", "store", "product"]]

In [47]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(df_category)
enc.categories_
df_category_onehot = enc.transform(df_category)

In [27]:
# df_train, df_test = train_test_split(df, test_size=0.2, random_state=1975, train_size=0.8)

In [28]:
X = df.drop(["row_id", "date", "date_dt", "num_sold"], axis=1)
y = df["num_sold"]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1975)

In [29]:
# sklearn.tree.DecisionTreeClassifier

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
clf = DecisionTreeClassifier(max_depth=5)

In [34]:
clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'Norway'

In [51]:
!which python

/home/cpu11453/miniconda3/envs/nlp/bin/python