In [1]:
import pandas as pd
import seaborn as sns
import prophet
import swifter
from prophet import Prophet
from tqdm import tqdm

In [16]:
from util.jan2022process import link_store, unlink_store, process_a_store

In [2]:
df = pd.read_csv("/data/kaggle/tabular-playground-series-jan-2022/train.csv")

In [3]:
df.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [4]:
df_test = pd.read_csv("/data/kaggle/tabular-playground-series-jan-2022/test.csv")

In [5]:
df_test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

# Compare category

## see single columns

In [6]:
df["country"].unique()

array(['Finland', 'Norway', 'Sweden'], dtype=object)

In [7]:
df_test["country"].unique()

array(['Finland', 'Norway', 'Sweden'], dtype=object)

In [10]:
df["store"].unique()

array(['KaggleMart', 'KaggleRama'], dtype=object)

In [11]:
df_test["store"].unique()

array(['KaggleMart', 'KaggleRama'], dtype=object)

In [12]:
df["product"].unique()

array(['Kaggle Mug', 'Kaggle Hat', 'Kaggle Sticker'], dtype=object)

In [13]:
df_test["product"].unique()

array(['Kaggle Mug', 'Kaggle Hat', 'Kaggle Sticker'], dtype=object)

## link 3 columns

In [18]:
df_test_link = df_test.apply(link_store, axis=1)

In [19]:
df_link = df.apply(link_store, axis=1)

In [21]:
df_link.head()

,row_id,date,country,store,product,num_sold,store_name
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,Finland___KaggleMart___KagglexMug
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,Finland___KaggleMart___KagglexHat
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,Finland___KaggleMart___KagglexSticker
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,Finland___KaggleRama___KagglexMug
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,Finland___KaggleRama___KagglexHat

In [22]:
df_link["store_name"].unique()

array(['Finland___KaggleMart___KagglexMug',
       'Finland___KaggleMart___KagglexHat',
       'Finland___KaggleMart___KagglexSticker',
       'Finland___KaggleRama___KagglexMug',
       'Finland___KaggleRama___KagglexHat',
       'Finland___KaggleRama___KagglexSticker',
       'Norway___KaggleMart___KagglexMug',
       'Norway___KaggleMart___KagglexHat',
       'Norway___KaggleMart___KagglexSticker',
       'Norway___KaggleRama___KagglexMug',
       'Norway___KaggleRama___KagglexHat',
       'Norway___KaggleRama___KagglexSticker',
       'Sweden___KaggleMart___KagglexMug',
       'Sweden___KaggleMart___KagglexHat',
       'Sweden___KaggleMart___KagglexSticker',
       'Sweden___KaggleRama___KagglexMug',
       'Sweden___KaggleRama___KagglexHat',
       'Sweden___KaggleRama___KagglexSticker'], dtype=object)

In [23]:
df_test_link["store_name"].unique()

array(['Finland___KaggleMart___KagglexMug',
       'Finland___KaggleMart___KagglexHat',
       'Finland___KaggleMart___KagglexSticker',
       'Finland___KaggleRama___KagglexMug',
       'Finland___KaggleRama___KagglexHat',
       'Finland___KaggleRama___KagglexSticker',
       'Norway___KaggleMart___KagglexMug',
       'Norway___KaggleMart___KagglexHat',
       'Norway___KaggleMart___KagglexSticker',
       'Norway___KaggleRama___KagglexMug',
       'Norway___KaggleRama___KagglexHat',
       'Norway___KaggleRama___KagglexSticker',
       'Sweden___KaggleMart___KagglexMug',
       'Sweden___KaggleMart___KagglexHat',
       'Sweden___KaggleMart___KagglexSticker',
       'Sweden___KaggleRama___KagglexMug',
       'Sweden___KaggleRama___KagglexHat',
       'Sweden___KaggleRama___KagglexSticker'], dtype=object)